.element-toggle-expanded:before {
	content: "+";
}

.element-toggle-collapsed:before {
	content: "-";
}

.element-hidden {
	display: none;
}

.element-wrapper {
	padding: 5px;
}

.attribute-name:before {
	content: "@";
	color: purple;
}

.attribute-wrapper {
	padding: 5px;
}

.attribute-name {
	padding: 5px;
}
.element-comment:before {
	content: "<!-- ";
	color: green;
}
.element-comment:after {
	content: " -->";
	color: green;
}
.element-text {
	padding: 20px;
}
.element-text:before {
	color: blue;
	content: "'";
}
.element-text:after {
	color: blue;
	content: "'";
}
